<div class="container">
<mat-toolbar fxLayout="row wrap" class="title">
    <div fxFlex="5"></div>
    <div fxFlex="95">
       <span fxFlex="100"><img src="../assets/Icon.png" [routerLink]="['/query']"  style="height: 35px;">{{' ' + title}}</span>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-card class="card-footer">
    <div>Created by 22-SEM2-CZ4031-Group 41</div>
    <div>Team Members: | CHONG WAI MUN | NG CAI XUAN | TERRENCE ONG CHUAN KAI | WONG KUAN HAO RUSSELL |</div>
    <div>© 2023 GROUP 41</div>
</mat-card>
</div>